default_language_version:
    python: python3.7
repos:
- repo: https://github.com/nbQA-dev/nbQA
  rev: 1.4.0
  hooks:
    - id: nbqa-pyupgrade
      args: [--py37-plus]
    - id: nbqa-isort
    - id: nbqa-black
    - id: nbqa-flake8