name: Generate docs and deploy to GitHub Pages
on:
  push:
    branches: 'main'
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U nbdev==2.1.6
          pip install -r requirements-dev.txt
        shell: bash
      - name: Install quarto (doc builder)
        run: |
          curl -LO https://www.quarto.org/download/latest/quarto-linux-amd64.deb
          sudo dpkg -i *64.deb && rm *64.deb
        shell: bash
      - run: nbdev_docs
        shell: bash
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force_orphan: true
          publish_dir: ./_docs
          user_name: github-actions[bot]
          user_email: 41898282+github-actions[bot]@users.noreply.github.com
